@model IEnumerable<DiplomskiISpoljoprivreda.Finansije>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Prihodi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rashodi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FinansijskiRezultat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Godina)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Prihodi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rashodi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FinansijskiRezultat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Godina)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FinansijeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.FinansijeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FinansijeID })
        </td>
    </tr>
}

</table>
